@{
    ViewData["Title"] = "Checkout Page";
    decimal totalPrice = 0;
    int productNumber = 0;
}
@model Unimarket.MVC.Models.ViewModels.CheckOutVM
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Trang chủ</a>
                    <span>Thanh toán</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="coupon__link">
                    <span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
                    here to enter your code.
                </h6>
            </div>
        </div>
        <form asp-controller="CheckOut" class="checkout__form" method="POST">
            <div class="row">
                <div class="col-lg-8">
                    <h5>Chi tiết thanh toán</h5>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Họ <span>*</span></p>
                                <input type="text" value="@Model.User.FirstName" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Tên <span>*</span></p>
                                <input type="text" value="@Model.User.LastName" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Số điện thoại <span>*</span></p>
                                <input type="text" value="@Model.User.PhoneNumber" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Email <span>*</span></p>
                                <input type="text" value="@Model.User.Email" readonly>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="checkout__form__input">
                                <p>Địa chỉ <span>*</span></p>
                                <input  type="text" id="Address" placeholder="Nhập địa chỉ nhận hàng của bạn" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="checkout__form__input">
                                <p>Ghi chú cho đơn hàng <span>*</span></p>
                                <input type="text" id="order-note"
                                       name="Note" placeholder="Ghi chú những thông tin bạn muốn.">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout__order">
                        <h5>Đơn hàng của bạn</h5>
                        <div class="checkout__order__product">
                            <ul>
                                <li>
                                    <span class="top__text">Sản phẩm</span>
                                    <span class="top__text__right">Giá tiền</span>
                                </li>
                                @foreach(var item in Model.Cart.Data)
                                {
                                    productNumber++;
                                    totalPrice += item.Item.Price * item.Quantity;
                                    <li>0.index @item.Item.Name<span>@string.Format("{0:#,0}", item.Item.Price)đ</span></li>
                                }
                            </ul>
                        </div>
                        <div class="checkout__order__total">
                            <ul>
                                <li>Tổng tiền hàng <span>@string.Format("{0:#,0}", @totalPrice)đ</span></li>
                                <li>Chi phí vận chuyển <span>0đ</span></li>
                                <li><strong>Tổng <span>@string.Format("{0:#,0}", @totalPrice)đ</span></strong></li>
                            </ul>
                        </div>
                        <div class="checkout__order__widget">
                        </div>
                        <button onclick="checkOut()" class="site-btn">Đặt hàng</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts { 
    <script>
        function checkOut(itemId) {
            var Address = $('#Address').val();
            var Note = $('#order-note').val();
            if (Address.length == 0) {
                console.log("Failed");
            }
            console.log("address", Address);
            console.log("note", Note);
            event.preventDefault();
            var action = {
                Address,
                Note
            }
            $.ajax({
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: "CheckOut/Checkout",
                type: "POST",
                data: JSON.stringify(action),
                success: function (response) {
                    console.log(response);
                },
                error: function () {
                    window.location.replace('/User/Login');
                }
            });
        }
    </script>
}