@{
    ViewData["Title"] = "Product Manager";
    Layout = "_DashboardLayout"; // Chỉ định layout nếu layout mặc định không được sử dụng
}
@model Unimarket.MVC.Models.ViewModels.ProductManageVM
<div class="container mt-5">
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table" style="height: 90%">
                        <thead>
                            <tr>
                                <th scope="col">IMAGE</th>
                                <th scope="col">PRODUCT NAME</th>
                                <th scope="col">UNIT SOLD</th>
                                <th scope="col">CATEGORY</th>
                                <th scope="col">View</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var product in Model.Product.Data)
                            {
                                <tr>
                                    <th scope="row">
                                        <img id="imageMain-display" src="@product.ImageUrl class="tm-product-img-dummy mx-auto" style="height: 100px" />
                                    </th>
                                    <td class="tm-product-name">@product.Name</td>
                                    <td>@product.Quantity</td>
                                    <td>@foreach (var cate in product.CategoryName)
                                        {
                                           @cate
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="UpdateProduct" asp-controller="Product" asp-route-itemId="@product.Id" class="tm-product-delete-link">
                                            <i class="fas fa-search tm-product-delete-icon" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="tm-product-delete-link">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                      
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <a href="@Url.Action("AddProduct","Product")"
                   class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                <h2 class="tm-block-title">Product Categories</h2>
                <div class="tm-product-table-container">
                    <table class="table tm-table-small tm-product-table">
                        <tbody>
                            @foreach(var cate in Model.Categories)
                            {
                                <tr>
                                    <td class="tm-product-name">@cate.Name</td>
                                    <td class="text-center">
                                        <a href="#" class="tm-product-delete-link">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <button class="btn btn-primary btn-block text-uppercase mb-3">
                    Add new category
                </button>
            </div>
        </div>
    </div>
</div>