@{
    ViewData["Title"] = "Home Page";
}
@model Unimarket.MVC.Models.ViewModels.ResponseProductVM

<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/quanaonam.jpg">
                            <div class="categories__text">
                                <h4>Thời trang nam</h4>
                                <p></p>
                                <a href="@Url.Action("Index", "Shop", new { categoryNames = "Thời trang nam" })">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/1.jpg">
                            <div class="categories__text">
                                <h4>Thời trang nữ</h4>
                                <p></p>
                                <a href="@Url.Action("Index", "Shop", new { categoryNames = "Thời trang nữ" })">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/3.jpg">
                            <div class="categories__text">
                                <h4>Giày dép</h4>
                                <p></p>
                                <a href="@Url.Action("Index", "Shop", new { categoryNames = "Giày dép" })">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/4.jpg">
                            <div class="categories__text">
                                <h4>Phụ kiện</h4>
                                <p></p>
                                <a href="@Url.Action("Index", "Shop", new { categoryNames = "Phụ kiện" })">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/5.png">
                            <div class="categories__text">
                                <h4>Trang sức</h4>
                                <p></p>
                                <a href="@Url.Action("Index", "Shop", new { categoryNames = "Trang sức" })">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/6.png">
                            <div class="categories__text">
                                <h4>Văn phòng phẩm</h4>
                                <p></p>
                                <a href="@Url.Action("Index", "Shop", new { categoryNames = "Văn phòng phẩm" })">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/7.png">
                            <div class="categories__text">
                                <h4>Đồ gia dụng</h4>
                                <p></p>
                                <a href="@Url.Action("Index", "Shop", new { categoryNames = "Đồ gia dụng" })">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="img/categories/8.png">
                            <div class="categories__text">
                                <h4>Đồ điện tử</h4>
                                <p></p>
                                <a href="@Url.Action("Index", "Shop", new { categoryNames = "Đồ điện tử" })">Mua ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Sản phẩm mới</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".quan">Quần</li>
                    <li data-filter=".ao">Áo</li>
                </ul>
            </div>
        </div>
        <div class="row property__gallery">
            @foreach (var item in Model.Data)
            {
                if (item.CategoryName.Contains("Quần"))
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 mix quan">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="@item.ImageUrl">
                                <ul class="product__hover">
                                    <li><a href="@item.ImageUrl" class="image-popup"><span class="arrow_expand"></span></a></li>
                                    <li><a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@item.Id"><span class="icon_search"></span></a></li>
                                    <li>
                                        <form id="addToCartForm-@item.Id" asp-controller="Cart" asp-action="AddToCart" asp-route-itemId="@item.Id" method="post">
                                            <a href="#" onclick="submitAddToCartForm('@item.Id'); return false;">
                                                <span class="icon_bag_alt"></span>
                                            </a>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>@item.Name</h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">@string.Format("{0:#,0}", item.Price)đ</div>
                            </div>

                        </div>
                    </div>
                }
                if (item.CategoryName.Contains("Áo"))
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 mix ao">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="@item.ImageUrl">
                                <ul class="product__hover">
                                    <li><a href="@item.ImageUrl" class="image-popup"><span class="arrow_expand"></span></a></li>
                                    <li><a asp-controller="ProductDetail" asp-action="Index" asp-route-id="@item.Id"><span class="icon_search"></span></a></li>
                                    <li>
                                        <form id="addToCartForm-@item.Id" asp-controller="Cart" asp-action="AddToCart" asp-route-itemId="@item.Id" method="post">
                                            <a href="#" onclick="submitAddToCartForm('@item.Id'); return false;">
                                                <span class="icon_bag_alt"></span>
                                            </a>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>@item.Name</h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">@string.Format("{0:#,0}", item.Price)VNĐ</div>
                            </div>

                        </div>
                    </div>
                }

            }
        </div>
    </div>
</section>
<!-- Product Section End -->
<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="img/banner/banner-web.png">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span style="color:wheat;">The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a style="color:#ca1515" href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span style="color:wheat;">The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a style="color:#ca1515" href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span style="color:wheat;">The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a style="color:#ca1515" href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->
<!-- Trend Section Begin -->
<section class="trend spad">
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <div class="section-title">
                        <h4>Quần bán chạy</h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="trend__item">
                                    <div class="trend__item__pic">
                                        <img src="img/trend/ht-1.jpg" alt="">
                                    </div>
                                    <div class="trend__item__text">
                                        <h6>Pendant earrings</h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product__price">$ 59.0</div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="trend__item">
                                <div class="trend__item__pic">
                                    <img src="img/trend/ht-2.jpg" alt="">
                                </div>
                                <div class="trend__item__text">
                                    <h6>Pendant earrings</h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price">$ 59.0</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="trend__item">
                                <div class="trend__item__pic">
                                    <img src="img/trend/ht-3.jpg" alt="">
                                </div>
                                <div class="trend__item__text">
                                    <h6>Pendant earrings</h6>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="product__price">$ 59.0</div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-12">
                <div class="section-title">
                    <h4>Áo bán chạy</h4>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="img/trend/bs-1.jpg" alt="">
                            </div>
                            <div class="trend__item__text">
                                <h6>Pendant earrings</h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">$ 59.0</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="img/trend/bs-2.jpg" alt="">
                            </div>
                            <div class="trend__item__text">
                                <h6>Pendant earrings</h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">$ 59.0</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="img/trend/bs-3.jpg" alt="">
                            </div>
                            <div class="trend__item__text">
                                <h6>Pendant earrings</h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">$ 59.0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="section-title">
                    <h4>vòng tay hot</h4>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="img/trend/f-1.jpg" alt="">
                            </div>
                            <div class="trend__item__text">
                                <h6>Pendant earrings</h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">$ 59.0</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="img/trend/f-2.jpg" alt="">
                            </div>
                            <div class="trend__item__text">
                                <h6>Pendant earrings</h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">$ 59.0</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="img/trend/f-3.jpg" alt="">
                            </div>
                            <div class="trend__item__text">
                                <h6>Pendant earrings</h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">$ 59.0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@section Scripts {
  

    <script>

        function submitAddToCartForm(itemId) {
            $.ajax({
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                type: "POST",
                url: "Cart/AddToCart",
                data: JSON.stringify(itemId),
                success: function (response) {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Thêm vào giỏ hàng thành công!",
                        showConfirmButton: false,
                        timer: 1500
                    });
                },
                error: function () {
                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: "Vượt số lượng sản phẩm",
                        showConfirmButton: true
                    });
                }
            });
        }
    </script>
}