@{
    ViewData["Title"] = "Order Details Page";
}
@model Unimarket.MVC.Models.ViewModels.OrderDTO
<style>
    .order-summary {
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 5px;
        background-color: #fff;
    }

        .order-summary .total {
            font-size: 1.2rem;
            font-weight: bold;
            color: #ff4500;
        }

        .order-summary p {
            margin: 0;
        }

        .order-summary .divider {
            border-top: 1px solid #eee;
            margin: 10px 0;
        }

        .order-summary .row {
            margin-bottom: 10px;
        }

    .box {
        width: 100%;
    }

    .progress {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        padding-left: 50px;
        padding-right: 50px;
        align-items: center;
    }

    .bar {
        position: absolute;
        left: 50%;
        top: 50%;
        background: #E8DFD8;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        overflow: hidden;
    }

    .bar__fill {
        display: block;
        background: #ae1c1c;
        height: 100%;
        -webkit-transition: width .5s ease-in-out;
        transition: width .5s ease-in-out;
    }

    .point {
        position: relative;
        color: white;
        cursor: pointer;
    }

        .point:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120px;
            height: 120px;
            border-radius: 100%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: .3s ease;
            transition: .3s ease;
        }

    .point--complete, .point--active {
        color: black;
    }

    .bullet {
        position: relative;
        z-index: inherit 1;
        background: #fff;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        -webkit-transition: .3s ease;
        transition: .3s ease;
    }

    .point--complete .bullet,
    .point--active .bullet {
        background: #ffffff;
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 0 6px #ae1c1c;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 0 6px #ae1c1c;
    }

    .point--active .bullet {
        -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 0 10px #ae1c1c;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 0 10px #ae1c1c;
    }

    .label {
        position: absolute;
        top: 100%;
        left: 50%;
        margin: 20px 0 0 0;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        width: 100px;
    }

    .table img {
        width: 50px;
        height: auto;
    }

</style>
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Trang chủ</a></i>
                    <a href="@Url.Action("OrderHistory","Profile")"> Thông tin đơn hàng</a></i>
                    <span>Tài Khoản</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <div class="row">
                <div class="col-lg-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-user-edit"></i> Thông tin cá nhân</a>
                        <a href="#" class="list-group-item list-group-item-action" style="background-color: rgba(253,176,16, 0.8)">Lịch sử đơn hàng</a>
                        <a href="#" class="list-group-item list-group-item-action">Order details</a>
                        <a href="#" class="list-group-item list-group-item-action">Log-out</a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card">
                        @{
                            int totalQuantity = 0;
                            foreach (var detail in Model.OrderdetailVM)
                            {
                                totalQuantity += detail.Quantity;
                            }
                        }
                        <div class="card-body">
                            <h5 class="card-title">Chi tiết đơn hàng • @Model.CreateAt.ToString("dd/MM/yyyy") • @totalQuantity Sản Phẩm</h5>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="border p-3">
                                        <h5>Địa chỉ</h5>
                                        <p><strong>Tên: @Model.FirstName @Model.LastName</strong></p>
                                        <p>@Model.Address</p>
                                        <p><strong>Email:</strong> @Model.Username</p>
                                        <p><strong>Số điện thoại:</strong> @Model.PhoneNumber</p>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="border p-3">
                                        <h5>Shipping Address</h5>
                                        <p><strong>Unimarket</strong></p>
                                        <p>FPT University</p>
                                        <p><strong>Email:</strong> unimarket@gmail.com</p>
                                        <p><strong>Phone:</strong> 09999999</p>
                                    </div>
                                </div>
                                <div class="order-summary col-md-4 mb-3">
                                    <div class="row">
                                        <div class="col-12">
                                            <p><strong>Order ID:</strong> @Model.Id</p>
                                        </div>
                                        <div class="col-12">
                                            <p><strong>Hình thức thanh toán:</strong> @Model.PaymentType</p>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Thành tiền:</p>
                                        </div>
                                        <div class="col-6 text-right">
                                            <p>@string.Format("{0:#,0}", Model.TotalPrice)đ</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Giảm giá:</p>
                                        </div>
                                        <div class="col-6 text-right">
                                            <p>0%</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Shipping:</p>
                                        </div>
                                        <div class="col-6 text-right">
                                            <p>Miễn phí</p>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="row" style="margin-top:30px">
                                        <div class="col-6">
                                            <p class="total">Tổng tiền:</p>
                                        </div>
                                        <div class="col-6 text-right">
                                            <p class="total">@string.Format("{0:#,0}", Model.TotalPrice)đ</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Progress Bar -->
                                @if (Model.Status != 3)
                                {
                                    <div class="box">
                                        <div class="progress">
                                            <div class="bar">
                                                <div class="bar__fill" style="width: @(Model.Status == 0 ? 35 : Model.Status * 66)%"></div>
                                            </div>
                                            <div class="point @(Model.Status >= 0 ? "point--complete" : "")">
                                                <div class="bullet"></div>
                                                <label class="label">Xác nhận đơn</label>
                                            </div>
                                            <div class="point @(Model.Status > 0 ? "point--complete" : "") @(Model.Status >= 0 ? "point--active" : "")">
                                                <div class="bullet"></div>
                                                <label class="label">Đóng gói</label>
                                            </div>
                                            <div class="point @(Model.Status > 1 ? "point--complete" : "") @(Model.Status >= 1 ? "point--active" : "")">
                                                <div class="bullet"></div>
                                                <label class="label">Vận chuyển</label>
                                            </div>
                                            <div class="point @(Model.Status == 2 ? "point--active" : "")">
                                                <div class="bullet"></div>
                                                <label class="label">Thành công</label>
                                            </div>
                                        </div>
                                    </div>
                                }else if(Model.Status == 3)
                                {
                                    <div class="row">
                                        <div class="">
                                            <p style="font-size:2rem; margin-left:3rem; color:red"><strong>Đơn hàng không thành công</strong></p>
                                        </div>
                                    </div>
                                }

                                <!-- Order Details Table -->
                                <table class="table" style="margin-top:10px;">
                                    <thead>
                                        <tr>
                                            <th scope="col">Sản phẩm</th>
                                            <th scope="col">Giá tiền</th>
                                            <th scope="col">Số lượng</th>
                                            <th scope="col">Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.OrderdetailVM)
                                        {
                                            <tr>
                                                <td><img src="@item.ItemsVMs.ImageUrl" alt="Red Capsicum"> @item.ItemsVMs.Name</td>
                                                <td>@string.Format("{0:#,0}", item.ItemsVMs.Price)đ</td>
                                                <td>@item.Quantity</td>
                                                <td>@string.Format("{0:#,0}", item.ItemsVMs.Price * item.Quantity)đ</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
