@{
    ViewData["Title"] = "History Page";
}
<style>
    .btn-custom {
        background-color: #FFA500; /* Orange background */
        color: white; /* White text */
        border-radius: 50px; /* Rounded corners */
        border: none; /* Remove border */
        padding: 10px 20px; /* Padding for the button */
        font-size: 16px; /* Font size */
        font-weight: bold; /* Bold text */
    }

        .btn-custom:hover {
            background-color: #ff9400; /* Slightly darker orange on hover */
            color: white;
        }
</style>

@model Unimarket.MVC.Models.ViewModels.ResponseOrder
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Trang chủ</a></i>
                    <span>Lịch sử mua hàng</span>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <div class="row">
                <div class="col-lg-3">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-user-edit"></i> Thông tin cá nhân</a>
                        <a href="#" class="list-group-item list-group-item-action" style="background-color: rgba(253,176,16, 0.8)">Lịch sử đơn hàng</a>
                        <a href="#" class="list-group-item list-group-item-action">Order details</a>
                        <a href="#" class="list-group-item list-group-item-action">Log-out</a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card mb-3 mb-md-4">
                        <div class="card-header">
                            <h5 class="font-weight-semi-bold mb-0">Lịch sử đơn hàng</h5>
                        </div>

                        <div class="card-body pt-0">
                            <div class="table-responsive-xl">
                                <table class="table text-nowrap mb-0">
                                    <thead>
                                        <tr>
                                            <th class="font-weight-semi-bold border-top-0 py-2">#</th>
                                            <th class="font-weight-semi-bold border-top-0 py-2">Ngày</th>
                                            <th class="font-weight-semi-bold border-top-0 py-2">Tổng tiền</th>
                                            <th class="font-weight-semi-bold border-top-0 py-2">Thanh toán</th>
                                            <th class="font-weight-semi-bold border-top-0 py-2">Trạng thái</th>
                                            <th class="font-weight-semi-bold border-top-0 py-2">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Data)
                                        {
                                            int totalQuantity = 0;
                                            foreach (var detail in item.OrderdetailVM)
                                            {
                                                totalQuantity += detail.Quantity;
                                            }
                                            <tr>
                                                <td class="py-3">
                                                    <div style="text-wrap: wrap;
                                                        max-height: 40px;
                                                        width: 60px;
                                                        text-overflow: ellipsis;
                                                        word-wrap: break-word;
                                                        overflow: hidden;
                                                        display: -webkit-box;
                                                        -webkit-line-clamp: 1;
                                                        -webkit-box-orient: vertical;">
                                                        @item.Id
                                                    </div>
                                                </td>
                                                <td class="py-3">@item.CreateAt.ToString("dd/MM/yyyy")</td>
                                                <td class="py-3">
                                                    <div>@string.Format("{0:#,0}", item.TotalPrice)đ</div>
                                                    <div class="text-muted">@totalQuantity sản phẩm</div>
                                                </td>
                                                <td class="py-3">@item.PaymentType</td>
                                                <td class="py-3">
                                                    @if (item.Status == 0)
                                                    {
                                                        <span class="badge badge-pill badge-light">Đang chờ vận chuyển</span>
                                                    }
                                                    @if (item.Status == 1)
                                                    {
                                                        <span class="badge badge-pill badge-warning">Đang vận chuyển</span>
                                                    }
                                                    @if (item.Status == 2)
                                                    {
                                                        <span class="badge badge-pill badge-success">Thành công</span>
                                                    }
                                                    @if (item.Status == 3)
                                                    {
                                                        <span class="badge badge-pill badge-danger">Thất bại</span>
                                                    }
                                                </td>
                                                <td><a href="@Url.Action("OrderDetails", "Profile", new { orderId = item.Id })" class="btn btn-custom">Chi tiết</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
            </div>
        </div>
    </div>
</section>
